@model Boolean


@if (!@Model) {
    <div style="width: 400px;background-color:#c78546; border-radius: 20px 20px 0 0 ; border: 1px solid #000; height: 50px">
        Top
    </div>

} else {

    <div style="width: 400px;background-color:#c78546; border-radius: 0 0 20px 20px; border: 1px solid #000; height: 50px">
        Bottom
    </div>
}